body {
    background-color: rgba(0, 0, 0, 0.05);
}

.form-group {
    margin-bottom: 1rem;
}

.flex-v-center {
    display: flex;
    align-items: center;
}

.code {
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 2px 4px;
    margin: -2px -4px;
}

.codeblock {
    margin: 10px 0;
    padding: 10px;
    position: relative;
}

.btn.btn-smaller {
    padding: 2px 4px;
}

.flex-space-btw {
    display: flex;
    justify-content: space-between;
}

.list-group-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}